.search-container {
  margin-bottom: 2rem;
}

// .detail-accordion {
//     margin-top: 200px;
//     height: auto;
// }

.image-detail-container {
  margin-top: 100px;
}

.image-detail {
  width: 100%;
  height: auto;
}

.movie-detail-text {
  padding: 16px;
}

.movie-detail-text-style {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 38px;
}

.movie-detail-text-title {
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 38px;
  margin-bottom: 24px;
}

.detail-text {
  line-height: 40px;
}
